.container {
  display: grid;
  grid-template-rows: 256px auto;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0 0 0 / 15%);
}

.content {
  display: grid;
  gap: 32px;
  padding-block: 32px;
  padding-inline: 32px;

  & header {
    display: grid;
    gap: 16px;
  }

  & h2 {
    font-size: 1.5rem;
  }

  & h3 {
    font-size: 1.125rem;
  }

  & p {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  & footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.link-button {
  padding-block: 8px;
  padding-inline: 24px;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
  font-weight: 600;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
