.container {
  grid-area: search-bar;
}

.form {
  display: grid;
  align-items: end;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1080px) {
    grid-template-columns: minmax(180px, 1fr) 2fr 2fr minmax(180px, 1fr) 2fr 160px;
  }

  @apply gap-2 px-4 py-2;
}
