.Nav {
}

.NavItems {
  display: flex;
  list-style: none;
  margin: 0 2rem;
}

.NavItem {
  margin: 0 1rem;
}

.NavLink {
  color: currentColor;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

.NavLink:hover {
  border-bottom: 0.2rem solid currentColor;
}
